.footer {
  padding: 1%;
  background: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 10px;
  /* text-align: left; */
  text-align: center;
  padding-left: 20px;
  /* background-color: #B6CCEC; */
  background-color: #b6ccec;
  /* background-image: linear-gradient(45deg, #c1b6ec 30%, rgb(246, 226, 165) 90%); */
  color: rgb(8, 7, 7);
  border-top: 2px solid #134933;
  height: 60px;
  text-align: left;
  box-shadow: 0 -10px 8px -10px rgba(12, 12, 12, 0.2),
    0 10px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0 10px 8px 0 rgba(12, 12, 12, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19); */
}

/* @supports (background-blend-mode:overlay) {

    .footer-text {

        color: hsl(0, 7%, 3%);
        animation: wheelHueColor 10s infinite;
    }

}

@keyframes wheelHueColor {

    from,
    to {
        color: hsl(324, 95%, 15%);
    }

    10% {
        color: hsl(0, 86%, 49%);
    }

    20% {
        color: hsl(36, 96%, 22%);
    }

    30% {
        color: hsl(72, 97%, 14%);
    }

    40% {
        color: hsl(63, 95%, 25%);
    }


    70% {
        color: hsl(216, 95%, 26%);
    }

    80% {
        color: hsl(252, 93%, 58%);
    }
} */
